NODE_ENV=development
PORT=4000
MONGO_URI=
JWT_SECRET=
FRONTEND_URL=http://localhost:5173
FRONTEND_URL_WWW=
UPLOAD_DIR=
EMAIL_USER=
EMAIL_PASS=
CONTACT_RECEIVER=
IP_HASH_SALT=
ADMIN_EMAIL=
ADMIN_PASSWORD=
